<html>
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <style>
{% include 'normalize.css' %}
{% include 'skeleton.css' %}
.hit {background-color: #EAFFEA}
.miss {background-color: #FFECEC}
.container .code {margin-left: 0}
pre {line-height: 1.3}
    </style>
  </head>
  <body>
    <div class="container">
      <h1>{{ title }}</h1>
      <table class="u-full-width">
        <thead>
          <tr>
            <th>Filename</th>
            <th>Stmts</th>
            <th>Miss</th>
            <th>Cover</th>
            <th>Missing</th>
          </tr>
        </thead>
        <tbody>
{%- for line in lines %}
          <tr>
            {%- if sources %}
            <td><a href="#{{ line.filename }}">{{ line.filename }}</a></td>
            {%- else %}
            <td>{{ line.filename }}</td>
            {%- endif %}
            <td>{{ line.total_statements }}</td>
            <td>{{ line.total_misses }}</td>
            <td>{{ line.line_rate }}</td>
            <td>{{ line.missed_lines }}</td>
          </tr>
{%- endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td>{{ footer.filename }}</td>
            <td>{{ footer.total_statements }}</td>
            <td>{{ footer.total_misses }}</td>
            <td>{{ footer.line_rate }}</td>
            <td>{{ footer.missed_lines }}</td>
          </tr>
        </tfoot>
      </table>
{%- if sources %}
{%- from 'macro.source.jinja2' import render_source -%}
{%- for filename, source in sources %}
<h4 id="{{ filename }}">{{ filename }}</h4>
{{ render_source(source) }}
{%- endfor %}
{% else %}
<p>{{ no_file_sources_message }}</p>
{%- endif %}
    </div>
  </body>
</html>
