<html>
  <head>
    <title>pycobertura report</title>
    <meta charset="UTF-8">
    <style>
{% include 'normalize.css' %}
{% include 'skeleton.css' %}
.red {color: red}
.green {color: green}
.hit {background-color: #EAFFEA}
.miss {background-color: #FFECEC}
pre {line-height: 1.2}
table.code pre {margin: 0;}
table.code td {padding: 0; border: 0;}
table.code td.lineno {text-align: right;}
table.code td.lineno pre {margin-right: 1rem;}
.legend dd {margin-left: 70px;}
.legend dt {float: left; width: 60px; text-align: center;}
.legend dt code {line-height: initial; border: none; background: none;}
    </style>
  </head>
  <body>
    <div class="container">
      <table class="u-full-width">
        <thead>
          <tr>
{%- for key in lines if key!="Missing" or (show_source and show_missing) %}
            <th>{{ key }}</th>
{%- endfor %}
          </tr>
        </thead>
        <tbody>
{%- for idx in range(lines | get_max_number_of_values_in_dict) %}
          <tr>
          {%- for key in lines -%}
            {%- if key in ("Stmts", "Cover") %}
            <td>{{ lines[key][idx] }}</td>
            {%- elif key == "Filename" %}
            <td><a href="#{{ lines[key][idx] }}">{{ lines[key][idx]  }}</a></td>
            {%- elif key == "Miss" %}
            <td><span{% if miss_lines | is_not_equal_to_dash %} class="{{ lines[key][idx] | misses_color }}"{% endif %}>{{ lines[key][idx] }}</span></td>
            {%- elif key == "Missing" and show_source and show_missing %}
            <td>
            {%- for missed_lines in lines[key][idx]  %}
                {%- if not loop.first %}, {% endif %}<span class="{{ missed_lines | misses_color }}">{{ missed_lines }}</span>
            {%- endfor %}
            </td>
            {%- endif %}
          {%- endfor %}
          </tr>
{%- endfor %}
        </tbody>
        <tfoot>
          <tr>
          {%- for key, vals in footer.items() %}
            {%- if key in ("Filename", "Stmts", "Cover") %}
            <td>{{ vals }}</td>
            {%- elif key=="Miss" %}
            <td><span{% if vals | is_not_equal_to_dash %} class="{{ vals | misses_color }}"{% endif %}>{{ vals }}</span></td>
            {%- elif key=="Missing" and show_source and show_missing %}
            <td></td>
            {%- endif %}
          {%- endfor %}
          </tr>
        </tfoot>
      </table>
{%- if show_source %}
{%- from 'macro.source.jinja2' import render_source -%}
<div class="legend">
  <dl>
    <dt><code>code</code></dt><dd>coverage unchanged</dd>
    <dt class="hit"><code>code</code></dt><dd>coverage increased</dd>
    <dt class="miss"><code>code</code></dt><dd>coverage decreased</dd>
    <dt><code>+</code></dt><dd>line added or modified</dd>
  </dl>
</div>

{%- for filename, source_hunks in sources %}
<h4 id="{{ filename }}">{{ filename }}</h4>
{%- for hunk in source_hunks %}
{{ render_source(hunk) }}
{%- endfor %}
{%- endfor %}
{%- endif %}
    </div>
  </body>
</html>
